* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe3d0;
}

/* search address */
.input-group-append > #button-addon2 {
  background-color: rgb(223, 67, 6);
  color: #fff;
}


/* .list-group */
.list-group > #list-head {
  background-color: #fd7f2c;
  color: white;

  border-style: none;
}

.list-group > #list-items {

}

.list-group > #list-items:hover {
  background-color: rgb(255, 248, 233);
  color: #eb7628;
}